 <header>
 <div class="header-content">
            <div class="header-content-inner">
              <%= image_tag("slogan.png",style:'margin-top:40px') %>
                <%= form_tag search_path, method: "get",style:"col-md-8" do %>
                  <div class="col-md-3">
                  </div>
		  <div class="col-md-6 well " style="padding: 20px;background-color:rgba(255,255,255,0.4);border:0px" >
		    <div class="col-md-10" style="padding:0px 20px 0px 0px">
                      <div class="input-group" style="padding:0">
                        <%= text_field_tag :query, params[:query], size:20,style:"height:45px",class: "form-control", placeholder:"技能 年限 地点如: Java 5 上海/Java 数据库" %>
                        <div class="input-group-btn">
                          <%= select_tag :q,options_for_select([['工作','职位'],['职业顾问','猎头']]), style:"height:45px",class:'button',type:"button" %>
                        </div>
	      	      </div><!-- /input-group -->
      		    </div>
      		    <div class="col-md-2" style="padding:0px">
                        <%= submit_tag "搜索",class:"btn btn-lg btn-block btn-danger",style:"height:45px" %>
                        <% end %>
      		    </div>
                  </div><!-- /.col-lg-6 well --> 
                  
		  <!--<a style='color:white;font-size:12px' data-toggle="modal" data-target=".bs-example-modal-sm">搜索贴士</a>-->
  
            </div>
        </div>
    </header>
<section sytle='background:#ffffff'>
  <div style='margin:10px auto;width:80%'>
    <div class='row' style="margin:20px auto">
      <h2 class='text-center'>激动人心的事情正在发生</h2>
    </div>
    <div class='row'>
      <div style='border-right:solid 1px #dddddd;padding:10px 20px;float:left'><!--都要加float:left让后面一个div紧贴右边-->
        <div style='padding-bottom:10px'>
          <span style='font-size:30px'>10, 000+</span>专业顾问
        </div>
        <%= image_tag("lateral/peoplesprite.png",size:"265x130") %>
      </div>
      <div  style='float:left;margin:10px 20px;'>
        <div class='row'>
           <div style='float:left;padding-left:20px;padding-top:10px'>
             <i class='glyphicon glyphicon-time' style='font-size:50px'></i>
           </div>
           <div style='float:left;padding:10px 20px'>
             <span style='font-size:30px'>8640+</span>小时
             <p>每月视频面试时间</p>
           </div>
        </div>
        <div class='row' style='border-top:solid 1px #dddddd'>
          <div style='float:left;padding:20px 12px;margin:10px 10px;'>
            <i class='fa fa-users' style='font-size:45px'></i>
          </div>
          <div style='padding-top:20px'>
            <span style='font-size:30px'>750</span>个职业顾问
            <p>每周不间断工作</p>
          </div>
        </div>
      </div>
      <div style='width:20%;padding:20px;float:left;border-left:solid 1px #dddddd;border-right:solid 1px #dddddd'>
        <div style='padding:0px '>
          <i class='glyphicon glyphicon-share' style='font-size:70px'></i>
          <p style='padding-top:20px'>超过<span style='font-size:30px'>6000</span>份简历被推荐给第一流的雇主</p>
        </div>
      </div>
       <div  style='width:20%;float:left;margin:10px 20px;'>
        <div class='row'>
           <div style='float:left;padding-left:20px;padding-top:10px'>
             <i class='glyphicon glyphicon-user' style='font-size:20px;margin-right:-10px'></i>
             <i class='glyphicon glyphicon-user' style='font-size:30px'></i>
           </div>
           <div style='float:left;padding:10px 20px'>
             每周<span style='font-size:30px'>300+</span>
             <p>每周视频面试场数</p>
           </div>
        </div>
        <div class='row' style='border-top:solid 1px #dddddd'>
          <div style='float:left;padding:20px 12px;margin:10px 10px;'>
            <i class='fa fa-check' style='font-size:45px'></i>
          </div>
          <div style='padding-top:20px'>
            <span style='font-size:30px'>80</span>
            <p>平均月度offer数</p>
          </div>
        </div>
      </div>
      
    </div>
    
    <br><br>
</div>
</section>

<section style='background:#f0f3f6'>
    <div class='row' style="margin:20px auto">
      <h2 class='text-center'>超过1000位专家和职业发展顾问</h2>
      <h4 class='text-center' style="color:#999999">覆盖100多个行业</h4> 
    </div>
      <div class="row" style='width:80%;margin:auto'><!--加了row才能让section之间没有gap-->
          <% User.where("user_type = '猎头'").first(5).each do |f| %>
            <div class="consultant" style="text-align:center" >

                <%= image_tag(f.avatar.url, size:"120x120",class:"home_star") %>

              <div >
                <%= f.user_name %>
              </div>
              <p style='height:30px;max-width:120px'>
                <%= f.title %>
              </p>
              <p style='color: #999999;height:30px;max-width:120px'>
                <%= f.works.first.employer unless f.works.first.nil? %>
              </p>
            </div>
          <% end %>
      </div>
   

</section>

                   

    
