<section style="background:#18bc9c;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    
                     <div class="tab-content" style='margin-bottom:0px'>
                      <div class="tab-pane fade in active" id="home">

                          <h5 class="head" style='color:white;font-size:60px;font-family:"Microsoft Yahei",微软雅黑'>推荐应聘,赢得奖金 <span style="color:#f48260;">♥</span></h5>
                          <p class="narrow" style='color:white;font-size:25px'>
                              分享职位,引爆您的朋友圈！
                          </p>
                          <p >
                            <%= link_to "即可体验", jobs_path, class: 'btn btn-success btn-outline-rounded green',target: "_blank" %>
                                
                            </p>
                      </div>
                      <div class="tab-pane fade" id="messages">
                          <h5 class="head"style='color:white;font-size:60px;font-family:"Microsoft Yahei",微软雅黑'>寻找猎头,精准招聘</h5>
                          <p class="narrow"style='color:white;font-size:25px'>
                             挑选中意的猎头，开启招聘众包的大航海时代！
                          </p>
                          
                          <p>
                            <%= link_to "即可体验", search_path, class: 'btn btn-success btn-outline-rounded green',target: "_blank" %>
                            
                        </p>
                      </div>
                      <div class="tab-pane fade" id="profile">
                          <h5 class="head"style='color:white;font-size:60px;font-family:"Microsoft Yahei",微软雅黑'>人才银行,永远增值</h5>
                          <p class="narrow"style='color:white;font-size:25px'>
			                       上传简历,坐收佣金,因为平台猎头会帮你快速匹配! 
                          </p>
                            <%= link_to "详细", share_policy_path, class: 'btn btn-success btn-outline-rounded green',target: "_blank" %>
                          </p>
                          
                      </div>
                     
                      
                      
                      <div class="clearfix"></div>
                    </div>

                    <div class="board-inner" style='padding-top:0px;'>
                      <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                          <li class="active">
                              <a href="#home" data-toggle="tab">
                                <span class="round-tabs one">
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                </span> 
                              </a>
                          </li>
                          <li><a href="#messages" data-toggle="tab">
                             <span class="round-tabs three">
                                  <i class="glyphicon glyphicon-user"></i>
                             </span> </a>
                          </li>
                          <li><a href="#profile" data-toggle="tab">
                             <span class="round-tabs two">
                                 <i class="glyphicon glyphicon-usd"></i>
                             </span> 
                            </a>
                         </li> 
                      </ul>
                    </div>

</div><!--board-->
</div>
</div>
</section>
<section style='background:#f0f3f6'>
      <div class="row"><!--加了row才能让section之间没有gap-->
          <div class="board">

              <div>
                <h1 align='center'style='color:#f48260'>这里的世界很精彩</h1>
              </div>
              <% if @offers != nil and @first_offer != nil %>
              <div>
                <div class='col-md-5' style='padding-left:80px'>
	                 
	                   <% @offers.order('created_at asc').first(15).each_with_index do |f,index| %>
                      <div class='col-md-4'>  
                 	      <% if f.recipient != nil %>
                 	        <%= link_to image_tag(f.sender.avatar.url(:small),size:"60x60", class: " img-circle"), root_path(offer_id:f.id),remote:true %>
                        <% end %>            
               	      </div> 
                 	  <% end %>
                </div>
                <div id='popover' class='col-md-6 well arrow_box' style=''>
                    <div style=''>
                      <div class='row'>
                        <div class='col-md-3' style='padding:0px'>
			                    
				                    <%= link_to image_tag(@first_offer.sender.avatar.url(:small),size:"60x60", class: " img-circle"), user_path(@first_offer.sender),target:"_blank",style:                 "padding-left:0px" %>
			                 
                        </div>
                        <div class='col-md-9' style='padding:0px'>
                            <li style='padding-top:10px;list-style:none;font-size:15px;color:#7b91a8'><%= @first_offer.sender.user_name %>&nbsp;<%= @first_offer.sender.title %></li>
                            <li style='padding-top:5px;list-style:none;font-size:15px;color:#7b91a8'>在猎了么完成了<%= @first_offer.sender.offers.size %>个offer,&nbsp;最近成了<%= @first_offer.sender.offers.where("created_at >= :half_year_before",{half_year_before:6.months.ago}).size %>单</li>
                        </div>
                      </div>
                      <hr>
                      <div class='row'>
                        <div class='col-md-12'>
                          <% @first_offer.sender.offers.order("created_at asc").first(3).each do |offer| %>
                            <li style='padding-top:15px;list-style:none;font-size:15px;color:#7b91a8'>
                              <%= link_to "#{offer.job.title}",job_path(offer.job), target:"_blank" %>职位于<%=offer.updated_at.strftime("%m-%d") %>获得offer</li>
                          <% end %>
                        </div>
                      </div>  
                    </div>
                </div>
              
              </div>
              <% end %>

              <div class='col-lg-12'>
                <h1 align='center' style='color:#f48260'>你的精彩在哪里</h1>
              </div>
</div>
</div>
   

</section>

                   

    
