                    	  
                          <div class='col-lg-6'>
                            <%= f1.text_field :title,class: "form-control", placeholder: "职位头衔" %>
                            <br>
                          </div>
			  
			  <div class='col-lg-6'>
                            <%= f1.text_field :industry,class: "form-control", placeholder: "专注行业" %>
                            <br>
                          </div>

                          <div class='col-lg-6'>
                            <%= f1.text_field :focus_job1,class: "form-control", placeholder: "专注职位" %>
                            <br>
                          </div>
                          
                          <div class='col-lg-6'>
                            <%= f1.text_field :focus_job2,class: "form-control", placeholder: "专注职位" %>
                            <br>
                          </div>
                          
                          <div class='col-lg-6'>
                            <%= f1.text_field :focus_job3,class: "form-control", placeholder: "专注职位" %>
                            <br>
                          </div>
                        

                        


                        
