<div class="container-fluid"><!--Use .container-fluid for a full width container, spanning the entire width of your viewport.-->
    <section class="container"><!--Use .container for a responsive fixed width container.-->
        <div class="container-page"> 
            
            <div class="col-md-4" style='margin-top:60px'><!--col-md对应的Container width：970px -->
               
                <h3 class="dark-grey">填写您的教育背景</h3>

                <div class='row'>
                  <%= form_for @user,url: wizard_path,method: :put do |f| %>
                    <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                        <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    
                    <div class="col-lg-12">
                  	  <% if @user.educations.present? %>
                  	    <h3>已经添加的教育背景:</h3>
                          <% @user.educations.each do |education| %>
                            <%= education.enter_school %>
                            <%= education.leave_school %>
                            <%= education.school %>
                            <%= education.major %>
                            <%= education.degree %>
                          <% end %>
                      <% end %>
                    </div>

                    <div class="col-lg-12 select">
			    <!--<h3>添加学历背景</h3>-->
                      <%= f.fields_for :educations,@user.educations.build do |education| %>
                        <%= render 'education_fields', f:education %>
                        
                      <% end %>

                      <%= link_to_add_fields "添加学历背景", f, :educations %>
                    </div>

                      
                    <div class='col-lg-4'>
                    </div>

                    <div class='col-lg-4'>
                    <%= f.submit "下一步",class: "btn btn-success btn-block" %>
                    </div>
                    
                    <% end %>
                  </div><!--end row-->
                </div><!--end col-md-4-->

                <div class="col-md-6" style='margin-top:60px'>
                  <br />
                  <br />
                  <br />
                  <table>
                    <tr>
                      <td><span class="fa fa-check text-success step_info">&nbsp;&nbsp;</span></td><td class='step_info'>注册基本信息</td>
                    </tr>
                    <tr>
                      <td><span class="fa fa-check text-success step_info">&nbsp;&nbsp;</span></td><td class='step_info'>填写个人评价</td>
                    </tr>
                    <tr>
                      <td><span class="fa fa-check text-success step_info">&nbsp;&nbsp;</span></td><td class='step_info'>完善教育背景</td>
                    </tr>
                    <tr>
                      <td></td><td class='step_info'>输入工作履历</td>
                    </tr>
                    <tr>
                      <td></td><td class='step_info'>撰写薪资要求</td>
                    </tr>
                    <tr>
                      <td></td><td class='step_info'>完成</td>
                    </tr>
                  </table>
                </div><!--col-md-6-->
            </div>
        </section>
    </div>
