<div class="col-md-5" style=''><!--col-md对应的Container width：970px -->
  <br><br>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <div class='col-md-12'>
          <h4>发布职位</h4>
        </div>
        <div class='row'>
        </div>
      </div>

      <div class='panel-body'>

                <%= form_for @job do |f| %>
                  <% if @job.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

                      <ul>
                      <% @job.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="col-lg-6" style='margin-top:10px'>
                    <%= f.text_field :title,class: 'form-control',placeholder:"职位" %>
                  </div>
                  <div class="col-lg-6" style='margin-top:10px'>
                    <%= f.text_field :employer,class: 'form-control',placeholder:"雇主简称" %>
                  </div>
                  <div class="col-lg-6" style='margin-top:10px'>
                    <%= f.select :industry,grouped_options_for_select(Job::INDUSTRY,nil,prompt:"行业"),class: 'form-control' %>
                  </div>
                  <div class="col-lg-6" style='margin-top:10px'>
                    <%= f.text_field :city,class: 'form-control',placeholder:"城市" %>
                  </div>
                  <div class="col-lg-12" style='margin-top:10px'>
                    <%= f.text_field :addr,class: 'form-control',placeholder:"地址" %>
                  </div>
                  <div class="col-lg-6" style='margin-top:10px'>
                    <%= f.number_field :commission,class: 'form-control',placeholder:"佣金" %>
                  </div>
		  <div class="col-lg-12" style='margin-top:10px'>
		    职位logo
		    <%= f.file_field :avatar,  
			           :'data-classButton' => 'btn btn-primary',
				          :'data-input' => 'false', classIcon:  'icon-plus', 
					         :'data-buttonText' => 'Your label here'  %> 
		  </div>
		  <!--<div class="col-lg-12 select" style='margin-top:10px'>
                     f.date_select :concall_date,class: 'form-control',placeholder:"Con-call时间" %>
	     	  </div>-->
                  <div class="col-lg-12" style='margin-top:10px'>
                    <%= f.text_area :memo,class: 'form-control', placeholder:"备注" %>
                  </div>
                  <div class="col-lg-12" style='margin-top:10px'>
                    <%= f.text_area :company_info,class: 'form-control',placeholder:"公司信息" %>
                  </div>

                   <div class="col-lg-8 " style='margin-top:10px'>
		     <%= f.check_box :interview %>
		     <%= "只接受面试过的候选人" %>
                  </div>
                   <div class="col-lg-4 " style='margin-top:10px'>
                    <%= f.submit "继续",class: "btn btn-success" %>
                  </div>
                <% end %>
            </div>
        </div>
</div>
