	<% @jobs.order("created_at desc").each do |job| %>
	<div class='row'>
	  <div class='col-lg-12' style='padding-top:16px'><!--照片距离分割线的padding-->
					  <p style='font-size:12px;color:#999;font-family: "lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;'>
					  <%= job.city %>&nbsp;&middot;&nbsp;<%= job.industry %>&nbsp;&middot;&nbsp;发布于<%= job.created_at.strftime("%m-%d") %>&nbsp;&middot;&nbsp;
						      <% if job.line_items.find_by(status:"offer")%>
						         Filled&nbsp;
						      <% elsif job.line_items.find_by(status:"初面") or job.line_items.find_by(status:"最后面试")%>
							 面试中&nbsp; 
						      <% else %>
							 等待简历&nbsp;
						      <% end %>
					  </p>
					  <p>
					  <h4>
					  <b><%= link_to "#{job.title}",job_path(job),style:'font-family:Arial,"Microsoft YaHei", "微软雅黑"', target:"_blank" %></b>
					  </h4>
					  <p style='color:#999'>
					    <%= truncate(job.role,length:150) %>&nbsp;
					    <%= link_to "详细内容",job_path(job),class: "xiangxi",style: 'color:#3b5893',target:"_blank" %>
					  </p>
	  </div>
  	</div><!-- end row -->
	<hr>
    <% end %>
    <div class='row'>
      <div class='col-lg-12'>
    	<div class='text-right'>
	      <p><%= paginate @jobs %></p>
	    </div>
	  </div>
	</div>
