<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @job.title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!-- ie8 和ie9s support-->
  <script src="/respondjs/html5shiv.js"></script>
  <script src="/respondjs/respond.min.js"></script>
      
  <!-- Bootstrap core JavaScript 一定要在head和底部都放，否则下拉菜单实现不了========================================================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!--/Users/George/site2.0/app/views/devise/registrations/new.html.erb 要用到勾的图像-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body  class='<%= controller.controller_name %>' style="background-color:#000">
  <div style="margin-top:100px">
  <iframe style='margin:0 auto;display:block;' align="bottom" src="http://www.sina.com.cn"></iframe>
  </div>
</body>
