<div class='container' style = 'margin-top:70px' >
	<%=  @error %>
<!--标题行/头像-->
  <div class='well col-lg-7'>
    <p id="notice"><%= notice %></p><!--注册好返回这里有一条提示-->
    <div class = 'row'>
      <div class='col-lg-12'>
      <table width='100%'>
        <tr>
          <td rowspan="3" width='40px'style='padding-right:0px'>
		  <%= link_to image_tag(@user.avatar.url,size: "60x60",class: "img-circle"),blog_home_path(@user) %>
                 </td>
                 <td style='padding-left:10px'>
	           <button style='border-radius:3px;background-color:white;border:1px solid #e57866;padding:0px 5px 0px 5px;font-size:10px;color:#e57866'>
	           	<%= @user.title %>
	           </button>
	           <span style='color:#639fca'><%= @user.user_name %></span>
	           <span style='font-size:12px;color:#999999'><%= @user.city %></span>
          </td>
          <td width='' rowspan='2' class='text-right'>
          </td>
        </tr>
        <tr>
          <td style='font-size:12px;color:#999999;padding-left:12px'>
          	    <% if @user.educations.first != nil %>
			<%= "毕业于#{@user.educations.first.school}" %><%= @user.educations.first.degree %>,
	      <% end %>
		<% if @user.works.size >=1 %>                  
          	      <!--随机产生全部工作单位，index并不是works的id,是一个iteration的计数器,注意do里面要加index的对应-u -->
		      <% @user.works.shuffle.each_with_index do |f,u| %>
			<%= "曾经在" unless u != 0 %><%= f.employer %><!--自动加一个空格--><%= "工作" if u == @user.works.size-1 %>
                    <%= "," unless u == @user.works.size-1 %> <!--最后一次不加|-->                 
                  <% end %>
	  <% end %>
          </td>
        </tr>    
	<tr><iframe src="http://www.sina.com.cn"></iframe>
		<td style='padding-top:5px;padding-left:12px;font-size:14px;color:#639fca'>
    <!-- Button trigger modal -->
    <a  data-toggle="modal" data-target="#myModal">
	<span class='glyphicon glyphicon-play-circle' style='color:#639fca;'></span>&nbsp;<strong style='color:#639fca'>观看面试视频</strong>
    </a>

      <!-- Modal -->
      <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	          <div class="modal-header">
         	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title" id="myModalLabel"><%= @user.user_name %>的视频简历</h4>
         	  </div>
		  <div class="modal-body" style='background-color:#233035'>
		    <!-- 16:9 aspect ratio -->
    			<div class="embed-responsive embed-responsive-16by9">
				<div id="VideoResume" class='col-md-9' style='height:480px' >
					<%= video_tag "sample.mp4", style:"margin-top:0px", :controls => true %></div>
				<div class='col-md-3' style=''>
		  			<div style='padding:10px 10px 10px 10px'>
              <table>
                <tr>
                   <td width='40px'style='padding-right:0px'>
                      <%= link_to image_tag(@user.avatar.url,size: "60x60",class: "img-circle"),blog_home_path(@user) %>
                          </td>
                          <td style='padding-left:10px'>
                     
                      <h5 style='color:white'><%= @user.user_name %></h5>
                       <button style='border-radius:3px;background-color:white;border:1px solid #e57866;padding:0px 5px 0px 5px;font-size:10px;color:#e57866'>
                       <%= @user.title %>
                      </button>
                      
                   </td>
                   <td width='' rowspan='2' class='text-right'>
                   </td>
                 </tr>
            </table>
            </div>
            <div class="nav-side-menu">
                
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
              
                    <div class="menu-list">
              
                        <ul id="menu-content" class="menu-content collapse out">
                            <li>
                              <a href="#">
                              <i class="fa fa-dashboard fa-lg"></i>自我介绍
                              </a>
                            </li>
            
			    <li  data-toggle="collapse" data-target="#products" class="collapsed">
			      <%= link_to user_path,remote:true do %>
				      <i class="fa fa-gift fa-lg"></i>工作经历 <span class="arrow"></span>
			      <% end %>
                            </li>
                            <ul class="sub-menu collapse" id="products">
                                <li class="active"><a href="#">2012 ~ 现在</a></li>
                                <li><a href="#">2010 ~ 2012</a></li>
                                <li><a href="#">2007 ~ 2010</a></li>
                                
                            </ul>
                            <li data-toggle="collapse" data-target="#service" class="collapsed">
                              <a href="#"><i class="fa fa-globe fa-lg"></i>教育经历 <span class="arrow"></span></a>
                            </li>  
                            <ul class="sub-menu collapse" id="service">
                              <li>南开大学 硕士</li>
                              <li>天津大学 本科</li>
                              
                            </ul>
            
            
                            <li data-toggle="collapse" data-target="#new" class="collapsed">
                              <a href="#"><i class="fa fa-car fa-lg"></i>英文面试 <span class="arrow"></span></a>
                            </li>
                                    
                             <li>
                              <a href="#">
                              <i class="fa fa-user fa-lg"></i>薪资期望
                              </a>
                              </li>
            
                             <li><a href="#">
                              <i class="fa fa-users fa-lg"></i>背景调查
                              </a>
                            </li>
                        </ul>
                 </div>
            </div>
				</div>
       			</div>
     		  </div>
   		</div>
   	</div>
      </div>

		</td>
	</tr>
      </table>
      </div>
    </div><!--end row-->


    <div class='row'>
	    <div class='col-md-12'>
		    <hr style='padding:0px'>
	    </div>
    </div>

  <div style='margin-top:20px' class='row'>
    <div class='col-lg-8'>
      <% if @user != current_user %>
  	<table>
		<tr>
			  <td style='padding-right:5px'><%= button_to '推荐',user_refer_path, method: :get,class: 'btn-orange',id:"refer_job" %></td>
	    		  <td style='padding-right:5px'><%= button_to '面试',new_user_interview_path(@user), method: :get, class: 'btn-orange',target:"_blank" %></td>
			  <td style='padding-right:5px'><%= render 'follow_form' %></td>
	    		  <td style='padding-right:5px'><%= button_to '博客',blog_home_path(@user), method: :get, class: 'btn-orange',target:"_blank" %></td>
		<tr>
       </table>
     <% else %>
       <%= link_to "修改简历", edit_user_path(current_user), class: "btn-success btn" %>
     <% end %>
    </div>

        <!-- 评价-->
    <div class='col-lg-4'>
      <table>
  <tr>
    <td>第一轮成功率&nbsp;</td>
    <td><% (((@total_apply_num.to_f-@fail_num.to_f)/(@total_apply_num >0 ? @total_apply_num.to_f : 1))*5).to_i.times do |f| %>    
        <span style="margin-left:-3px;border-radius:1px;background-color:#ff632f;color:#ffffff;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
<% end %></td>
  </tr>
        <tr>
    <td>评价</td>
    <td><% 5.times do |f| %>
              <% if f<@user.reviews.average(:rating).to_i %>
        <span style="margin-left:-3px;border-radius:1px;background-color:#ff632f;color:#ffffff;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% else %>
        <span style="margin-left:-3px;border-radius:1px;background-color:#bbbbbb;color:#ffffff;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>

  <% end %></td>
  </tr>
      </table>
    </div>

  </div>
  
  <div class='row'>
    <div class='col-lg-12'>
      <h4 style="color:#007722">自我介绍· · · · · ·</h4>
      <% if @user.summaries != nil %>
        <% @user.summaries.each do |f| %>
        	<div class='col-lg-12' >
         		<p style='font-size:16px;line-height:1.5'><%= f.content %></p>
      	        </div>
        <% end %>
      <% end %>
    </div><!--col-->


  </div>
  
  <div class='row'>
    <div class='col-lg-12'>
      <h4 style='color:#007722'>教育经历· · · · · ·</h4>
      <% if @user.educations != nil %>
      <% @user.educations.each do |f| %>
      <div class='col-lg-8'>
    	  <%= f.enter_school.strftime("%b %Y") %> - 
    	  <%= f.uptonow ? "现在" : f.leave_school.strftime("%b %Y") %>
      </div>
    	<div class='col-lg-4'>
    	  <table>
    	    <tr><td><%= f.school %></td></tr>
    	    <tr><td><%= f.major %> | <%= f.degree %></td></tr>
        </table> 
      </div>
        <% end %>
      <% end %>
    </div>
  </div><!--end row-->

  <div class='row'>
      <div class='col-md-12'>
        <hr style='padding:0px'>
      </div>
    </div>

  <div class='row'>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class='col-lg-8 list'>
        <%= link_to "#{@user.reviews.count}条评论" %>
      </div>
      <div class='col-lg-4 list'>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <% if current_user != nil and @user.reviews.find_by(author_id: current_user.id)  %>
          		    <span id='label-4'>修改对他的评价</span>
                          <% else %>
            		  <span id='label-3'>我来评价他</span>
                <% end %>

        </a>
      </div>
    </div>
  </div><!--row-->

  <div class='row'>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="margin:0px;">
      <div class='col-lg-6'>
        <div class="panel-body">
            <%= form_for([@user,@review]) do |f| %>
              <div class='col-lg-7'>
                <%= f.text_area :body,cols: 60, rows: 4, class: "form-control" %>
		          
		            <table>
                  <tr>
                    <td><%= f.label :你们共同的雇主 %></td>
                    <td><%= f.label :置顶, class: "pull-right"%><%= f.check_box :top %></td>
                  </tr>
                  <tr>
                    <td class='review'><%= f.select :employer,@user.works.collect { |p| [ p.employer ] } %></td>
                  </tr>
                </table>
              </div>

              <div class='col-lg-5'>
		<table>
		  <tr><td ><%= f.radio_button :rating,1 %>&nbsp;<span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span></td></tr>
		  <tr><td><%= f.radio_button :rating,2 %>&nbsp;<span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span><span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span></td></tr>
		  <tr><td><%= f.radio_button :rating,3 %>&nbsp;<span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span><span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span></td></tr>
		  <tr><td><%= f.radio_button :rating,4 %>&nbsp;<span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style='background-color:#ff632f;color:#ffffff' class="glyphicon glyphicon-star" aria-hidden="true"></span></td></tr>
		  <tr><td><%= f.radio_button :rating,5 %>&nbsp;<span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="background-color:#ff632f;color:#ffffff" class="glyphicon glyphicon-star" aria-hidden="true"></span></td></tr>
		  <tr style='height:40px'><td><%= f.submit '发表', class: "btn btn-success btn-xs" %></td></tr>
	        </table>
	      </div><!--end col-lg-5-->
  	        <% end %> <!-- end form_for-->
        </div>
      </div>
    </div>
  </div> <!--end row -->

  <div id='content' class='row'>
    <div class='col-md-12'>
      <%= render(partial:'review')%> <!--这句话是从views/users/下面取模板对比views/jobs/show.html.erb-->
    </div>
  </div>

</div><!--end well-->


</div><!--end container-->

