	<div class='row'>
		<div class='col-md-10'>
		<%= form_tag clients_path,method: :post, remote:true do %>
			<table style:''>
			  <tr>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :name,nil,placeholder:"公司全称",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :industry,nil,placeholder:"行业",size: 10,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :hr_name,nil,placeholder:"HR名字",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :hr_title,nil,placeholder:"Title",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :hr_email,nil,placeholder:"Email",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :hr_phone,nil,placeholder:"电话",size: 15,style:'border:0px' %></td>
				  <td style='border:0px;padding-left:3px'><%= submit_tag "提交",class: "form-control",size: 15 %></td>
			  </tr>
		  	</table>
		<% end %>
		<hr style='margin-bottom:0px;border-top: 1px solid #d9d9d9'>
		</div>
	</div>
<br>
<div class='row'>
  <div class='col-md-10' >
  	<table width="100%">
  	  <thead>
  	    <tr>
  	      <th width="10%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Company</th>
  	      <th width="10%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Industry</th>
	      <th width="70%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>HR</th>
  	      <th width="10%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>备注</th>
  	    </tr>
  	  </thead>
  	
  	  <tbody>
	    <% @clients.order("updated_at desc").each do |client| %>
	      <tr>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			  <%= client.name %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			  <%= client.industry %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			  <% if client.hrs.present? %>
				<table width='100%'>
			      	  <% client.hrs.each_with_index do |f,index| %>
					  <tr style=<%= f != client.hrs.last ? "'border-bottom: 1px solid #eee'" : ""%>>
						  <td width='10%'><%= f.name %></td>
						  <td width='15%'><%= f.title %></td>
						  <td width='15%'><%= f.phone %></td>
						  <td width='35%'><%= f.email %></td>
						  <td width='25'>
						    <%= link_to delete_hr_path(id:f.id), style:"float:right",method: :delete, remote: true do %>
						      <i class='glyphicon glyphicon-remove'></i>
						    <% end %>
						  <!-- Small modal -->
						  <a style='float:right' data-toggle="modal" data-target="#hr_<%= f.id %>"><i class='glyphicon glyphicon-pencil'>&nbsp;</i></a>
						    <%= link_to bd_email_path(email:f.email),remote: true, style:"float:right" do %>
						      <i class='glyphicon glyphicon-envelope'>&nbsp;&nbsp;</i>
						    <% end %>

						  <div class="modal fade " id="hr_<%=f.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content" style='padding:30px'>
							 <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
						    	 </div>
						      	 <div class="modal-body">
								<%= form_for([client,f]) do |hr| %>
							  		<%= hr.text_field :name,placeholder:'Name' %>
							  		<%= hr.text_field :title, placeholder:'Title' %>
							  		<%= hr.text_field :phone, placeholder:'Phone' %>
							  		<%= hr.text_field :email, placeholder:'Email' %>
							  		<%= hr.submit "修改" %>
						  		<% end %>
						       	 </div>			          
						     </div>
						 </div>
						</div>
				  <% end %>
				</table>
			<% end %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
		        <%= client.note %>
		      </td>
  	      </tr>
  	    <% end %>
  	  </tbody>
  	</table>
  	<br>
  </div>
  <br>
</div>
