<div class='container' style='padding-top:100px'>
<p id="notice"><%= notice %></p>

<%= form_tag clients_path,method: :post, remote:true do %>
  <%= text_field_tag :name,nil,placeholder:"公司全称" %>
  <%= text_field_tag :email,nil,placeholder:"邮箱地址" %>
  <%= text_field_tag :phone,nil,placeholder:"电话号码" %>
  <%= submit_tag "提交" %>
<% end %>

<div id='client_list'>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3">
        <%= link_to "发送邮件",bd_email_path,remote:true %></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.order("updated_at desc").each do |client| %>
      <tr>
        <td style="vertical-align:top"><%= client.name %></td>
	<td>
	  <% client.client_emails.order("created_at desc").each do |f| %>
		  <%= f.email %><br>
		<% end %>
	</td>
        <td><%= client.phone %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<br>

<%= link_to 'New Client', new_client_path %>
</div>
</div>
