<div class='notice col-md-2' style='padding-top:100px'>
	<% if flash.present? %>
		<p><%= flash[:notice] %></p>
	<% end %>
</div>
<div class='col-md-10' id='client_list' style='padding-top:100px'>
	<div class='row'>
		<div class='col-md-8'>
		<%= form_tag clients_path,method: :post, remote:true do %>
			<table style:''>
			  <tr>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :name,nil,placeholder:"公司全称",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :industry,nil,placeholder:"行业",size: 10,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :email,nil,placeholder:"邮箱地址",size: 15,style:'border:0px' %></td>
				  <td style='border:1px solid #d9d9d9;padding:3px'><%= text_field_tag :phone,nil,placeholder:"电话号码",size: 10,style:'border:0px' %></td>
				  <td style='border:0px;padding-left:3px'><%= submit_tag "提交",class: "form-control",size: 15 %></td>
			  </tr>
		  	</table>
		<% end %>
		<hr style='margin-bottom:0px;border-top: 1px solid #d9d9d9'>
		</div>
	</div>
<br>
<div class='row'>
  <div class='col-md-8' >
  	<table width="100%">
  	  <thead>
  	    <tr>
  	      <th width="20%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Company</th>
  	      <th width="10%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Industry</th>
  	      <th width="30%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Email</th>
  	      <th width="10%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'>Phone</th>
  	      <th width="30%" style='padding-left:5px;color:#919191;border:1px solid #d9d9d9'></th>
  	    </tr>
  	  </thead>
  	
  	  <tbody>
	    <% @clients.order("updated_at desc").each do |client| %>
	      <tr>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			  <%= client.name %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			  <%= client.industry %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			<% if client.client_emails.present? %>
			      <% client.client_emails.each_with_index do |f,index| %>
				      <% if index !=0 %>
				     	<br>
				      <% end %>
				<%= f.email %>
			      <% end %>
			<% end %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
		        <%= client.phone %>
		      </td>
		      <td style="padding:5px;border:1px solid #d9d9d9;color:#919191;vertical-align:top">
			      <% client.client_emails.each_with_index do |f,index| %>
				      <% if index != 0 %>
					      <br>
				      <% end %>
				      <%= link_to '发送邮件', bd_email_path(email:f.email),remote: true %>
				      <%= link_to 'Destroy', delete_email_path(id:f.id), style:"padding-left:10px;float:right",method: :delete, remote: true %>
				      <%= link_to 'Edit', edit_client_path(client),style:"float:right" %>
			      <% end %>
		      </td>
  	      </tr>
  	    <% end %>
  	  </tbody>
  	</table>
  	<br>
  </div>
  <br>
</div>
</div>

