<div class='row'>
	<div class='col-md-12'>

		  <%= form_tag candidates_path,method: :post,remote:true do %>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :name,nil,placeholder:"姓名",    style:'border:0px' %>      </div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :title,nil,placeholder:"职位",   style:'border:0px' %>            </div>
	      <div style='padding:7px' class='col-md-1'><%= number_field_tag :age,nil,placeholder:"经验",   style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :city,nil,placeholder:"城市",    style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :employer,nil,placeholder:"雇主",style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :mobile,nil,placeholder:"电话",  style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-2'><%= text_field_tag :email,nil,placeholder:"邮箱",   style:'border:0px' %></div>
	      <div style='padding:7px' class='col-md-1'><%= text_field_tag :note,nil,placeholder:"备注",    style:'border:0px' %></div>
	      <div style='padding:7px' class='col-md-1'><%= text_field_tag :candidate,nil,placeholder:"月薪",    style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-2'><%= submit_tag "提交",class:'btn btn-success' %></div>
          <% end %>
 </div>
	</div>

  	<div class='row'>
	  <div class='col-md-12'>
          <table class='table table-hover'>
      
        <tbody>
          <% @candidates.order('updated_at desc').each do |candidate| %>
	  <tr ><td style= "font-size:12px;padding:0px" width="100%">
      <div style='padding:0px' id="candidate_<%=candidate.id%>">
	        <div style='padding:0px' id="candidate_<%=candidate.id%>">
	      	<div class='col-md-1' style='padding:7px'><%= candidate.name %></div>
	      	<div class='col-md-1' style='padding:7px'><%= candidate.title %></div>
        	<div class='col-md-1' style='padding:7px'><%= candidate.year %></div>
        	<div class='col-md-1' style='padding:7px'><%= candidate.city %></div>
        	<div class='col-md-1' style='padding:7px'><%= candidate.employer %></div>
        	<div class='col-md-1' style='font-size:10px;padding:7px'><%= candidate.mobile %></div>
        	<div class='col-md-2' style='padding:7px'><%= candidate.email %></div>
        	<div class='col-md-1' style='padding:7px'>

                          <!-- Button trigger modal -->
                          <a data-toggle="modal" data-target="#<%=candidate.id%>">
                            <%= candidate.note.first(10) unless candidate.note.nil? %>
                            <% if (candidate.note.present? and candidate.note.length>10 ) %>
                              &middot;&middot;&middot;
                            <% end %>

                          </a>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="<%=candidate.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">更改<%= candidate.name %>的备忘</h4>
                                </div>
                                <div class="modal-body">
                                  <%= form_for(candidate) do |candidate| %>
                                    <%= candidate.text_area :note, class:"form-control",rows:2,cols:15 %>
                                    <%= candidate.submit "保存",class:"btn btn-success",style:"margin-top:10px;width:100px" %>
                                  <% end %>

                                </div>
                                
                              </div>
                            </div>
                          </div>

                        </div>
        	<div class='col-md-1' style='padding:7px'><%= candidate.base_salary %></div>
        	<div class='col-md-2' style='padding:7px'><%= link_to 'Edit', edit_candidate_path(id:candidate.id,candidate_id:candidate.id), remote:true %>
			&nbsp;&nbsp;<%= link_to 'Destroy', candidate_path(id:candidate.id), method: :delete, remote:true %>
		</div>
	        </div></td></tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>
<br>
