<div class='col-md-1' style='padding:7px'><%= @candidate.name %></div>
<div class='col-md-1' style='padding:7px'><%= @candidate.title %></div>
        <div class='col-md-1' style='padding:7px'><%= @candidate.year %></div>
        <div class='col-md-1' style='padding:7px'><%= @candidate.city %></div>
        <div class='col-md-1' style='padding:7px'><%= @candidate.employer %></div>
        <div class='col-md-1' style='padding:7px'><%= @candidate.mobile %></div>
        <div class='col-md-2' style='padding:7px'><%= @candidate.email %></div>
        <div class='col-md-1' style='padding:7px'><%= @candidate.note %></div>
        <div class='col-md-2' style='padding:7px'><%= link_to 'Edit', edit_candidate_path(id:@candidate.id,candidate_id:@candidate.id), remote:true %>
              &nbsp;&nbsp;<%= link_to 'Destroy', @candidate, method: :delete, remote:true %></td>
