<div class='notice col-md-2' id = 'edit_area' style='padding-top:100px'>
    <div class='row' style='padding:0px 30px 0px 30px'>
	<% if flash.present? %>
		<p><%= flash[:notice] %></p>
	<% end %>
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">搜索</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">邮件</a></li>
  </ul>
  <br>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <%= form_tag candidate_search_path,method:'get' do %>
    <%= text_field_tag :name,nil,placeholder:"名字",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :email,nil,placeholder:"邮箱",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :title,nil,placeholder:"方向",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= number_field_tag :year,nil,placeholder:"年经验以上",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :city,nil,placeholder:"城市",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :employer,nil,placeholder:"雇主",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= submit_tag "搜索",class: 'btn btn-success',style: 'margin-bottom:15px' %>
    <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    <p>你好,</p>
      <%= form_tag group_email_path,method:'get' do %>
    <%= text_area_tag :content,nil,placeholder:"邮件内容",rows:5,cols:10,class: 'form-control',style: 'margin-bottom:15px' %>
    <%= number_field_tag :job_id,nil,placeholder:"job id",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :name,nil,placeholder:"名字",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :email,nil,placeholder:"邮箱地址",rows:5,cols:10,class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :title,nil,placeholder:"方向",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= number_field_tag :min_age,nil,placeholder:"年龄大于",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= number_field_tag :max_age,nil,placeholder:"年龄小于",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :city,nil,placeholder:"城市",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :employer,nil,placeholder:"雇主",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= submit_tag "群发邮件", class: "btn btn-success",style: 'margin-bottom:15px'  %>
    <% end %>
    </div>
  </div>

</div>


  </div>	
</div>
<div class='col-md-10' id='candidate_list' style='padding-top:100px'>

<div class='row'>
  <div class='col-md-12'>

      <%= form_tag candidates_path,method: :post,remote:true do %>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :name,nil,placeholder:"姓名",    style:'border:0px' %>      </div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :title,nil,placeholder:"职位",   style:'border:0px' %>            </div>
              <div style='padding:7px' class='col-md-1'><%= number_field_tag :age,nil,placeholder:"年龄",   style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :city,nil,placeholder:"城市",    style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :employer,nil,placeholder:"雇主",style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :mobile,nil,placeholder:"电话",  style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-2'><%= text_field_tag :email,nil,placeholder:"邮箱",   style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-1'><%= text_field_tag :note,nil,placeholder:"备注",    style:'border:0px' %></div>
              <div style='padding:7px' class='col-md-2'><%= submit_tag "提交",class:'btn btn-success' %></div>
          <% end %>
 </div>
  </div>


    <div class='row'>
    <div class='col-md-12'>
          <table class='table table-hover'>
      
        <tbody>
          <% @candidates.order('updated_at desc').each do |candidate| %>
    <tr ><td style= "padding:0px" width="100%"><div style='padding:0px' id="candidate_<%=candidate.id%>">

        <div class='col-md-1' style='padding:7px'><%= candidate.name %></div>
	<div class='col-md-1' style='padding:7px'><%= candidate.title %>
	  <span style='float:right'><%= "#{candidate.year}年" unless candidate.year.blank? %>&nbsp;&nbsp;</span></div>
        <div class='col-md-1' style='padding:7px'><%= candidate.age %></div>
        <div class='col-md-1' style='padding:7px'><%= candidate.city %></div>
        <div class='col-md-1' style='padding:7px'><%= candidate.employer %></div>
        <div class='col-md-1' style='padding:7px'><%= candidate.mobile %></div>
        <div class='col-md-2' style='padding:7px'><%= candidate.email %></div>
        <div class='col-md-1' style='padding:7px'><%= candidate.note %></div>
        <div class='col-md-2' style='padding:7px'><%= link_to 'Edit', edit_candidate_path(id:candidate.id,candidate_id:candidate.id), remote:true %>
              &nbsp;&nbsp;<%= link_to 'Destroy', candidate, method: :delete, remote:true %></td>

    </div></td></tr></div>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>
<br>
  <%= paginate @candidates %>
</div>
