 <iframe src="http://www.w3schools.com"></iframe> 
 <div class='notice col-md-2' id = 'edit_area' style='padding-top:100px'>
    <div class='row' style='padding:0px 30px 0px 30px'>
	<% if flash.present? %>
		<p><%= flash[:notice] %></p>
	<% end %>
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">搜索</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">邮件</a></li>
  </ul>
  <br>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <%= form_tag candidate_search_path,method:'get' do %>
    <%= text_field_tag :name,nil,placeholder:"名字",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :email,nil,placeholder:"邮箱",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= autocomplete_field_tag 'title', '', autocomplete_candidate_title_candidates_path, placeholder:"职位",size:10,class: 'form-control',style:"margin-bottom:15px" %>
    <%= number_field_tag :year,nil,placeholder:"年经验以上",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :city,nil,placeholder:"城市",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= text_field_tag :employer,nil,placeholder:"雇主",class: 'form-control',style: 'margin-bottom:15px' %>
    <%= submit_tag "搜索",class: 'btn btn-success',style: 'margin-bottom:15px'%>
    <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <%= form_tag group_email_path,method:'get',remote:true do %>
    <%= text_field_tag :subject,nil,placeholder:"标题",cols:10,class: 'form-control',style: 'margin-bottom:15px' %>
    <br>
    <%= text_area_tag :content,nil,placeholder:"邮件内容",rows:5,cols:10,class: 'form-control',style: 'margin-bottom:15px',required:true %>
    <%= submit_tag "群发邮件", class: "btn btn-success",style: 'margin-bottom:15px'  %>
    <% end %>
    </div>
  </div>

</div>


  </div>	
</div><!--end col-md-2-->
<div class='col-md-10' id='candidate_list' style='padding-top:100px'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style='float:right'>
    <li role="presentation" class="active"><a href="#candidate" aria-controls="home" role="tab" data-toggle="tab">人才</a></li>
    <li role="presentation"><a href="#history" aria-controls="profile" role="tab" data-toggle="tab">历史</a></li>
    <li role="presentation"><a href="#summary" aria-controls="profile" role="tab" data-toggle="tab">统计</a></li>
  </ul>
  <br>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="candidate">
        <div class='row'>
          <div class='col-md-12'>
		  
		  <div style="text-align:center;">
		      </div><%= form_tag candidates_path,method: :post,remote:true do %>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :name,nil,placeholder:"姓名",    style:'border:0px' %>      </div>
		      <div style='padding:7px' class='col-md-1'><%=  autocomplete_field_tag 'title', '', autocomplete_candidate_title_candidates_path, placeholder:"职位",size:10,style:"border:0px" %></div>
                      <div style='padding:7px' class='col-md-1'><%= number_field_tag :year,nil,placeholder:"经验",   style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :city,nil,placeholder:"城市",    style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :employer,nil,placeholder:"雇主",style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :mobile,nil,placeholder:"电话",  style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-2'><%= text_field_tag :email,nil,placeholder:"邮箱",   style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :note,nil,placeholder:"备注",    style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-1'><%= text_field_tag :base_salary,nil,placeholder:"月薪",    style:'border:0px' %></div>
                      <div style='padding:7px' class='col-md-2'><%= submit_tag "提交",class:'btn btn-success' %></div>
                  <% end %>
          </div>
        </div><!--end row -->
        
        
        <div class='row'>
            <div class='col-md-12'>
              <table class='table table-hover'>      
                <tbody>
                  <% @candidates.order('updated_at desc').each do |candidate| %>
                    <tr ><td style= "font-size:12px;padding:0px" width="100%"><div style='padding:0px' id="candidate_<%=candidate.id%>">
                        <div class='col-md-1' style='padding:7px'><%= candidate.name %></div>
        	        <div class='col-md-1' style='padding:7px'><%= candidate.title %></div>
                        <div class='col-md-1' style='padding:7px'><%= candidate.year %></div>
                        <div class='col-md-1' style='padding:7px'><%= candidate.city %></div>
                        <div class='col-md-1' style='padding:7px'><%= candidate.employer %></div>
                        <div class='col-md-1' style='font-size:10px;padding:7px'><%= candidate.mobile %></div>
                        <div class='col-md-2' style='padding:7px'><%= candidate.email %></div>
                        <div class='col-md-1' style='padding:7px'><%= candidate.note %></div>
                        <div class='col-md-1' style='padding:7px'><%= candidate.base_salary %></div>
                        <div class='col-md-2' style='padding:7px'><%= link_to 'Edit', edit_candidate_path(id:candidate.id,candidate_id:candidate.id), remote:true %>
                      &nbsp;&nbsp;<%= link_to 'Destroy', candidate, method: :delete, remote:true %> </div></div></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
        </div><!--end row-->
        <br>
          <%= paginate @candidates %>
    </div>

    <div role="tabpanel" class="tab-pane" id="history">
      <div class='row'>
        <table class='table table-striped table-condensed'>
            <thead>
              <th >ID</th>
              <th >姓名</th>
              <th >Title</th>
              <th >职位</th>
    	      <th >完成数</th>
              <th >发送时间</th>
            </thead>
            <tbody>
              <% current_user.mail_histories.order("created_at desc").each do |f| %>
            <tr>
              <td style='font-size:8px'>
                  <%= f.user_id %></td>
              <td >
                     <%= f.name %>
                </td>
		<td><%= f.title %></td>
		<% if f.job.present? %>
			<td><%= link_to "#{f.job.title}",job_path(f.job),target:"_blank" %></td>
		<% end %>
	      <td><%= f.sent_num %></td>
              <td ><%= f.created_at.strftime("%m %d") %></td>
            </tr> 
            <% end %>
            </tbody>
        </table>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="summary">
      <div class='row'>
          <table class='table '>
            <thead>
            <th></th>
            <th>北京</th>
            <th>上海</th>
            <th>深圳</th>
            <th>广州</th>
            <th>杭州</th>
            <th>成都</th>
            <th>南京</th>
            <th>厦门</th>
            <th>武汉</th>
            <th>大连</th>
            <th>青岛</th>
          </thead>
          <% ["Java","PHP","iOS",'Android','C','C++','C#','Python','Ruby','HTML'].each do |title| %>
            <tr>
              <td><%= title %></td>
          	<% ["北京","上海","深圳","广州","杭州","成都","南京","厦门","武汉","大连","青岛"].each do |city| %>
			<td style='background-color:<%= touch_within_14_days(title,city) %>'><%= Candidate.where("title like ? and city like ?",title,city).size %></td>
		<% end %>
            </tr>
          <% end %>
          </table>
      </div>
    </div>



  </div>
</div><!--end col-md-10-->





