<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inquiry.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @inquiry.employer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inquiry.title %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @inquiry.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @inquiry.content %>
</p>

