<div class=""><!--Use .container-fluid for a full width container, spanning the entire width of your viewport.-->
  <table style='width:100%'>
    <tr style='height:44px;border-bottom:1px solid #cccccc'>
      <td class='text-center' style='border-bottom:1px solid #cccccc;height:44px;'>
        1 注册基本信息
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;height:44px;'>
	2 邮件确认
      </td>
      <td style='border-bottom:1px solid #cccccc;width:14px'>
        <%= image_tag("triangel-tail.png")%>
      </td>
      <td class='process-highlight text-center' style='border-bottom:1px solid #cccccc;'>
        3 填写个人评价
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-green.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        4 完善教育背景	
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        5 输入工作履历
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        6 撰写薪资要求	
      </td>
    </tr>
  </table>
    <section class="container"><!--Use .container for a responsive fixed width container.-->
        <div class="container-page"> 
            
            <div class="col-md-4" style='padding-bottom:100px;margin-top:50px' ><!--col-md对应的Container width：970px -->
               
                
                  <div class='row' ><!--row可以完整的封装内部的div,如果不用，内部的div会超出well-->

                    <%= form_for @user, url: wizard_path, method: :put do |f| %><!--url发送当前的路径,填education会重定向到work-->
                      <% if @user.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                            <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                            </ul>
                          </div>
                        <% end %>
                     
                        <% if @user.user_type == '猎头' %>
                          <%= render 'summary_hunter',f1:f %>
                        <% else %>
                          <%= render 'summary_normal',f1:f %>
                      	<% end %>

                        <div class='col-lg-6'>
                      	  <%= f.submit "继续",class: "btn btn-success btn-block pull-right" %> <!--url:wizard_path自动返回show action,进入next step-->
                              <% end %>
                        </div>
                      </div><!--row end-->
                
            </div><!-- end col-md-4-->
            <div class='col-md-1'>
            </div>
            <div class='col-md-5' style='margin-top:20px'>
              <div>
                <p style='color:#1a6cb0'>范例(六句话自我介绍):</p>
                <h3 style='margin-top:10px'>产品经理</h3>
                <ul>
                  <li style='margin-bottom:10px;'>88年水瓶女，华师大计算机应用技术硕士。BI四年</li>
                  <li style='margin-bottom:10px;'>前端界面，信息可视化 Dashboard，报表工具应用纯熟（BIEE、Hyperion Brio）。</li>
                  <li style='margin-bottom:10px;'>后端存储，数据库精通（Oracle、Teradata）；PL/SQL基本功扎实。</li>
                  <li style='margin-bottom:10px;'>项目管理，研发流程清晰，UML/User Case范例制档规范，可出流程图主导项目实施。</li>
                  <li style='margin-bottom:10px;'>4年总结：数据很美，统计更美。美即观察生活之心，此乃做好工作之本。软件工具熟练只是技，基于业务理解的大数据应用才是艺。</li>
                  <li style='margin-bottom:10px;'>2门外语：AAA一年，商务英语读写进步神速； 日语JLPT-3通过，胜任日常读写。</li>
                </ul>
            </div>
          </div>
        </div>
    </section>
</div>



