<!--注意要点
  1. _work.html.erb里面只能放1个大的div,否则非常不好控制
  2. 如果没有一个div在_work.html.erb里面，link_to "删除工作经验"将把所有工作经验删除
  3. link_to_add_fields "增加工作经验",f,:works 和fields_for要在一个<div class='row'>内
  4. select(date_select和select等)要用form-control,需要先改变select的颜色-->
  <div class=""><!--Use .container-fluid for a full width container, spanning the entire width of your viewport.-->
  <table style='width:100%'>
    <tr style='height:44px;border-bottom:1px solid #cccccc'>
      <td class='text-center' style='border-bottom:1px solid #cccccc;height:44px;'>
        1 注册基本信息
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;height:44px;'>
	2 邮件确认
      </td>
      <td style='border-bottom:1px solid #cccccc;width:14px'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        3 填写个人评价
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-line.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        4 完善教育背景	
      </td>
      <td style='border-bottom:1px solid #cccccc;width:14px'>
        <%= image_tag("triangel-tail.png")%>
      </td>
      <td class='process-highlight text-center' style='border-bottom:1px solid #cccccc;'>
        5 输入工作履历
      </td>
      <td style='border-bottom:1px solid #cccccc;'>
        <%= image_tag("triangel-green.png")%>
      </td>
      <td class='text-center' style='border-bottom:1px solid #cccccc;'>
        6 撰写薪资要求	
      </td>
    </tr>
  </table>
    <section class="container"><!--Use .container for a responsive fixed width container.-->
        <div class="container-page"> 
            
            <div class="col-md-4" style='margin-top:60px'><!--col-md对应的Container width：970px -->
               
                  <div class='row'>
                    <%= form_for @user, url: wizard_path, method: :put do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                    	
                      <div class="col-lg-12">
                        <% if @user.works.present? %>
                          <h3>已经添加的工作经历</h3>
                     	    <% @user.works.each do |work| %>
                        	  <%= work.join_date.strftime("%b %Y") %> - 
                        	  <%= work.uptonow ? "现在" : work.leave_date.strftime("%b %Y") %>
                        	  <%= work.employer %>
                        	  <%= work.title %> 
                            <br>
                          <% end %>
                        <% end %>
                      </div>
                         
                      <div class='select col-lg-12'><!--因为_work_fields.html.erb里面没div,所以select加在这里-->
			      <span style="text-size:14px;font-weight:bold">最近</span><%= f.fields_for :works,@user.works.build do |work| %>
                          <%= render 'work_fields',f:work %>   
                          <%= link_to_add_fields "增加工作经验",f,:works %>
                          <% end %>
                      </div> 

                    	<div class='col-lg-3'>
                      </div>

                      <div class="col-lg-6" style='padding-bottom:50px'>

                        <%= f.submit "继续",class: "btn btn-success btn-block pull-right" %>
                      </div>
                          <% end %><!--end form_for-->
                    </div><!--end row-->

                </div><!--end col-md-4-->

            </div>
        </section>
    </div>


