            <ul class="nav navbar-nav " style='padding-left:100px'><!--ul要和form放在并列的位置才能在一行内显示-->
	            <li><%= link_to "首页", root_path ,style:'color:white' %></li>
	            <li ><%= render 'layouts/my_interviews' %></li>    
	            <li ><%= render 'layouts/my_talents' %></li>
	            <li ><%= render 'layouts/my_lieyohui' %></li><!--style要放到最后--> 
              <li><%= render 'layouts/my_avatar' %></li>
              <li class="dropdown"><%= render 'layouts/my_dropdown' %></li>
            </ul>

