<!DOCTYPE html>
<html lang="zh-CN">
	  <head>
		      <meta charset="utf-8">
		          <meta http-equiv="X-UA-Compatible" content="IE=edge">
			      <meta name="viewport" content="width=device-width, initial-scale=1">
			          <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
				      <title>Bootstrap 101 Template</title>
				      
				          <!-- Bootstrap -->
					  <!-- 新 Bootstrap 核心 CSS 文件 -->
					  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

					  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
					  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

					  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
					  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

					  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
					  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

					          <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
						      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
						          <!--[if lt IE 9]>
							        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
								      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
								          <![endif]-->
									    </head>
<body  class='<%= controller.controller_name %>'>
  <!--div of modal,trigger link is put to navbar-->	
  <%= render 'layouts/search_tips' %>

  <!--navbar-inverse设置bar的颜色是黑色-->
  <nav class="navbar navbar-color navbar-fixed-top" style="<%= (controller.controller_name == "front" and not user_signed_in?) ? "background: transparent" : "background: #3b5893" %>">
  <%= render 'layouts/logo.html.erb' %> 
      <div class="container">
        <div class="navbar-header">       
            <%= render 'layouts/search_form' %>
        </div>

	<div id="navbar" class="navbar-collapse collapse">
	  <% if user_signed_in? %>
	    <% case current_user.user_type %>
	    <% when "求职者" %>
	      <%= render 'layouts/talent' %>
    	    <% when "猎头" %>
    	      <%= render 'layouts/hunter' %>
            <% when "人事" %>
	      <%= render 'layouts/hr' %>
	    <% end %>
    	  <% else %><!--没有登录-->
            <%= render 'layouts/signin_form' %>
          <% end %> 
        </div><!--/.navbar-collapse -->
      </div><!-- container-->
  </nav>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
<div class='row'>
</div>
<% cache('footer') do %>
	<%= render 'layouts/footer' %>
<% end %>
</body>
  <!-- Bootstrap core JavaScript 一定要在head和底部都放，否则下拉菜单实现不了========================================================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!--/Users/George/site2.0/app/views/devise/registrations/new.html.erb 要用到勾的图像-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</html>
