<!DOCTYPE html>
<html lang="en">
<head>
	<!-- 加载实时猫 JavaScript SDK v0.2 -->
	<script src="//dn-learning-tech.qbox.me/realtimecat/realtimecat-0.2.min.js"></script>
	<!-- 非必须，本例中使用 jQuery -->
	<script src="//dn-learning-tech.qbox.me/realtimecat/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Career Talk -- 在线职业发展平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body  class='<%= controller.controller_name %>'>
  <!--div of modal,trigger link is put to navbar-->	
  <%= render 'layouts/search_tips' %>

  <!--navbar-inverse设置bar的颜色是黑色-->
  <nav class="navbar navbar-color navbar-fixed-top" style="background: transparent">
  <%= render 'layouts/logo.html.erb' %> 
  <!--<div class="container"> 加上container类在IE下navbar登录框会到中间去-->
      <div style="padding-right:20px">
        <div class="navbar-header">       
	  <%= render 'layouts/search_form' unless controller.controller_name == "front" %>
        </div>

	<div id="navbar" class="navbar-collapse collapse">
	  <% if user_signed_in? %>
	    <% case current_user.user_type %>
	    <% when "求职者" %>
	      <%= render 'layouts/talent' %>
    	    <% when "猎头" %>
    	      <%= render 'layouts/hunter' %>
            <% when "人事" %>
	      <%= render 'layouts/hr' %>
	    <% end %>
    	  <% else %><!--没有登录-->
            <%= render 'layouts/signin_form' %>
          <% end %> 
        </div><!--/.navbar-collapse -->
      </div><!-- container-->
  </nav>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
<div class='row'>
</div>
</body>
</html>
