<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>猎了么-在线有偿职位分享</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body  class='<%= controller.controller_name %>'>
  <!--div of modal,trigger link is put to navbar-->	
  <%= render 'layouts/search_tips' %>

  <!--navbar-inverse设置bar的颜色是黑色-->
  <nav class="navbar navbar-color navbar-fixed-top" style="<%= (controller.controller_name == "front" and not user_signed_in?) ? "background: transparent" : "background: #3b5893" %>">
  <%= render 'layouts/logo.html.erb' %> 
      <div class="container">
        <div class="navbar-header">       
            <%= render 'layouts/search_form' %>
        </div>

	<div id="navbar" class="navbar-collapse collapse">
	  <% if user_signed_in? %>
	    <% case current_user.user_type %>
	    <% when "求职者" %>
	      <%= render 'layouts/talent' %>
    	    <% when "猎头" %>
    	      <%= render 'layouts/hunter' %>
            <% when "人事" %>
	      <%= render 'layouts/hr' %>
	    <% end %>
    	  <% else %><!--没有登录-->
            <%= render 'layouts/signin_form' %>
          <% end %> 
        </div><!--/.navbar-collapse -->
      </div><!-- container-->
  </nav>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
<div class='row'>
</div>
<% cache('footer') do %>
	<%= render 'layouts/footer' %>
<% end %>
</body>
</html>
